@media screen and (max-width: 600px) {
    body{
        margin: 10px;
    }
    .fcont-form, .sec-container, .sixth-container, .seventh-container, .owcont-heading{
        flex-direction: column;
    }
    
    .right-container{
        display: none;
    }
    .fcont-form{
        width: 280px;
        padding: 15px;
    }
    .fcont-form input, .fcont-form select, .btn-prm{
        margin: 8px;
        height: 46px;
        width: 235px;
        margin-bottom: 13px;
    }
    .fcont-title{
        padding: 10px;
        font-size: 23px;
        margin-bottom: 3px;
    }
    .fcont-disc{
        max-width: 350px;
        font-size: 16px;
        margin-bottom: 10px;
    }

    .toggle-btn{
        display: block;
    }
    .dropdown-menu{
        display: block;
    }
    .tcont-images-grid{
        width: 100%;
        grid-template-columns: 1fr;
    }
    .tcont-images-grid div img:hover{
        cursor: pointer;
        transform: scale(1);
    }
    .img1, .img2, .img3, .img4, .img5, .img6, .img7{
        grid-column: 1/span 1;
    }
    /* ------- */
    .bg-text2{
        top: 45%;
        left: 22%;
    }
    /* ------------ */
    .seventh-container{
        margin: 10px;
    }
    .saveup{
        width: 200px;
        height: 78px;
    }
    .saveup h3, .saveup h5{
        font-size: 20px;
    }
    .secont-images img{
        /* margin-left: 60px; */
        max-width: 505px;;
        width: 100%;
        height: auto;
    }
    .saveup{
        width: 180px;
        height: 60px;
        transform: rotate(-19.628deg);
        border-radius: 16px;
        background: #FF5400;
        position: relative;
        top: -120px;
        left: 205px;

    }
    .seventh-container .secont-form-cont{
        margin-left: 30px;
        height: 480px;
        width: 380px;
        padding: 10px;
    }
    .secont-form-cont p, .secont-form-cont h3,  .secont-form-cont .secont-form{
        margin-left: 20px;
        max-width: 300px;
    }
    .secont-form input{
        width: 280px;
    }

    .pack1, .pack2, .pack3{
        align-items: center;
        flex-basis: 320px;
    }
    .btn-prm-form{
        width: 280px;
    }

    .owcont-heading{
        padding-left: 20px;
        text-align: center;
    }
    .owcont-heading button{
        margin-left: 130px;
        align-items: center;
    }
    .own-pack1:hover, .own-pack2:hover, .own-pack3:hover, .own-pack4:hover{
        transform: scale(1);
    }
    .footer-container{
        padding: 5px;
    }
    .footer-content{
        max-width: 375px;
    }
    .footer-disc{
        width: 287px;
    }
    .footer-copyright{ 
        width: 350px;
        margin: 10px;
    }    
    .footer-break{
        width: auto; 
        height: 1px; 
        margin: 40px auto;
    }
    .image-bg1, .image-bg2, .image-bg3{
        padding: 0;
        padding-top: 20%;
    }
}