@media screen and (max-width: 600px) {
    body{
        margin: 10px;
    }
    .fcont-form, .sec-container, .sixth-container, .seventh-container{
        flex-direction: column;
    }
    .right-container{
        display: none;
    }
    .fcont-form{
        width: 280px;
        padding: 15px;
    }
    .fcont-form input, .fcont-form select, .btn-prm{
        margin: 8px;
        height: 46px;
        width: 235px;
        margin-bottom: 13px;
    }
    .fcont-title{
        padding: 10px;
        font-size: 23px;
        margin-bottom: 3px;
    }
    .fcont-disc{
        max-width: 350px;
        font-size: 16px;
        margin-bottom: 10px;
    }

    .toggle-btn{
        display: block;
    }
    .dropdown-menu{
        display: block;
    }
    .tcont-images-grid{
        width: 100%;
        grid-template-columns: 1fr;
    }
    .tcont-images-grid div img:hover{
        cursor: pointer;
        transform: scale(1);
    }
    .img1, .img2, .img3, .img4, .img5, .img6, .img7{
        grid-column: 1/span 1;
    }
    /* ------------ */
    .seventh-container{
        margin: 10px;
    }
    .saveup{
        width: 200px;
        height: 78px;
    }
    .saveup h3, .saveup h5{
        font-size: 20px;
    }
    .secont-images img{
        width: 100%;
        height: auto;
    }
    .secont-form-cont{
        max-width: 600px;
        align-items: center;
        
    }
    .secont-form-cont h3, .secont-form-cont p, .secont-form-cont div{
        margin-left: 60px;
    }
    .secont-form{      
        margin: 0 auto;
        padding: 0;
    }
    .secont-form input{
        width: 280px;
        /* padding: 0; */
    }
    .btn-prm-form{
        width: 280px;
    }

    .footer-container{
        padding: 5px;
    }
    .footer-content{
        max-width: 375px;
    }
    .footer-disc{
        width: 287px;
    }
    .footer-copyright{ 
        width: 350px;
        margin: 10px;
    }    
    .footer-break{
        width: auto; 
        height: 1px; 
        margin: 40px auto;
    }
    .image-bg1, .image-bg2, .image-bg3{
        padding: 0;
        padding-top: 20%;
    }
}