@media screen and (max-width: 600px) {
    .fcont-form, .sec-container{
        flex-direction: column;
    }
    .right-container{
        display: none;
    }
    .fcont-form{
        width: 280px;
        padding: 15px;
    }
    .fcont-form input, .fcont-form select, .btn-prm{
        margin: 8px;
        height: 46px;
        width: 235px;
        margin-bottom: 13px;
    }
    .fcont-title{
        padding: 10px;
        font-size: 23px;
        margin-bottom: 3px;
    }
    .fcont-disc{
        max-width: 350px;
        font-size: 16px;
        margin-bottom: 10px;
    }

    .toggle-btn{
        display: block;
    }
    .dropdown-menu{
        display: block;
    }
    .tcont-images-grid{
        width: 100%;
        grid-template-columns: 1fr;
    }
    .img1, .img2, .img3, .img4, .img5, .img6, .img7{
        grid-column: 1/span 1;
    }
    /* .tcont-images-grid{
        grid-template-columns: repeat(1, 1fr);
    }
    .row1, .row2, .row3{
        grid-template-columns: repeat(1, 1fr);
        width: 400px;
        gap: -10px;
        margin-bottom: 0px;
    }
    .row1 img, .row2 img, .row3 img{
        width: auto;
        height: auto;
    } */
}